@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 4px rgb(28, 208, 0),
            0 0 8px rgba(28, 208, 0, 0.553),
            0 0 10px rgba(28, 208, 0, 0.395);
    }

    50% {
        box-shadow: 0 0 8px rgba(28, 208, 0, 0.775),
            0 0 20px rgba(28, 208, 0, 0.564),
            0 0 30px rgba(28, 208, 0, 0.395);
    }
}

.glowing-div {
    background-color: #1e90ff;
    box-shadow: 0 0 20px rgba(34, 255, 0, 0.775),
    0 0 40px rgba(34, 255, 0, 0.773),
    0 0 60px rgba(34 , 255, 0, 0.545);
    animation: glow 2s infinite;
}
